doctype html
html
  head
    script(type="text/javascript", src="../vendor/jquery.1.7.2.min.js")
    script(type="text/javascript", src="../vendor/ICanHaz.min.js")
    script(type="text/javascript", src="../vendor/lodash.underscore.min.js")
    script(type="text/javascript", src="../vendor/backbone.js")
    script(type="text/javascript", src="../vendor/backbone.marionette.js")
    script(type="text/javascript", src="../dest/dollhouse.js")
    script(type="text/javascript", src="./index.js")

  body
    script#table_item_view_tmpl(type="text/html")
      h4 hoge
